In [1]:
match=10
from re import *
print(match)

<function match at 0x7b5d06973158>

In [4]:
def double(x):
    return x * 2

def apply_to_one(f):
    return f(1)

my_double = double
x = apply_to_one(my_double)
x

2

In [5]:
y = apply_to_one(lambda x: x+5)
y

6

In [6]:
another_double = lambda x: x*2

In [7]:
tab_string="\t"
len(tab_string)

1

In [8]:
ss = "Hello" + tab_string + "world"
ss

'Hello\tworld'

In [9]:
not_tab_string = r'\t'
len(not_tab_string)

2

In [10]:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line
"""
multi_line_string

'This is the first line.\nand this is the second line\nand this is the third line\n'

In [20]:
first_name = "Nguyen"
last_name = "Hoa"
full1 = "{0} {1}".format(first_name, last_name)
full1

'Nguyen Hoa'

In [21]:
try:
    print(0/0)
except ZeroDivisionError:
    print("Cantnot divide by zero")

Cantnot divide by zero